.navbar_container {
  position: fixed;
  width: 100vw;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219, 160, 128);
}

.navbar_container .shopping.cart,
.navbar_container .home,
.bars.icon {
  color: white;
}

.login a {
  color: white;
  font-size: 16px;
}

.cartLength {
  display: inline-block;
  height: 20px;
  width: 24px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  background-color: rgb(26, 25, 116);
  text-align: center;
}
