* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products_display {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.products_display .product {
  width: 380px;
  height: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(222, 219, 219);
  color: rgb(12, 12, 136);
}
.products_display img {
  width: 180px;
  height: 250px;
}

.products_display td {
  text-align: center;
}

.products_display button {
  width: 200px;
  height: 30px;
  background-color: rgb(221, 170, 146);
  color: white;
  border: 0px;
  border-radius: 3px;
}
.products_display button:active {
  width: 110px;
  height: 35px;
}
@media (max-width: 1200px) {
  .products_display {
    display: grid;
    grid-template-columns: auto auto;
  }
}
