.sideBar {
  width: 25%;
  height: 100%;
  position: fixed;
  background-color: rgb(219, 160, 128);
  margin: 0;
  padding: 0;
  color: white;
}
.sideBar.closed {
  width: 0px;
}
.sideBar ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.sideBar li {
  padding: 50px;
  border-bottom: 0.5px solid white;
  color: white;
  font-size: 16px;
}

.sideBar .user_name {
  padding-bottom: 20px;
  left: 0;
}

.sidebar .bar_icon_container {
  justify-content: left;
}

.closed ul {
  display: none;
}

.sideBar li a {
  color: white;
}

.sideBar li:hover {
  background-color: rgb(230, 178, 156);
}
